/* ------------------------ MEDIA QUERIES ------------------------- */
@media (max-width: 88rem) { 
    /* 1408px */
    html {
        font-size: 56.25%;
        /* 9px / 16px */
    }

    #hero-section-image img {
        width: 55rem;
    }
}

@media (max-width: 78rem) {
    /* 1248px  */
    html {
        font-size: 50%;
    }

    /* ALL */
    .container {
        max-width: 1000px;
    }
    
    /* STAGES OF WORK */
    .container.stages-of-work h5 {
        width: 1000px;
    }

    .container.stages-of-work .stages {
        width: 1000px;
    }


    #secohdary-stages {
        width: 1000px;
    }

}

@media (max-width: 64rem) {
    /* 1024 */

    html {
        font-size: 43.75%;
        /* overflow-x: hidden; */
    }

    /* ALL */
    .container {
        width: 90%;
        max-width: 800px;
        margin: 1rem auto 4rem auto;
    }

    .hero-section {
        margin-top: 18rem;
    }
    
    /* STAGES OF WORK */
    .container.stages-of-work h5 {
        width: 100%;
        max-width: 800px;
    }

    .container.stages-of-work .stages {
        width: 100%;
        max-width: 800px;
    }


    #secohdary-stages {
       width: 100%;
        max-width: 800px;
    }

}

@media (max-width: 48rem) {
    /* 768 */
    html {
        font-size: 38%;
    }

    .container {
        max-width: 500px;
    }

    .nav-list {
        display: none;
    }

    .hero-section {
        flex-direction: column;
    }
    
    .card-about-us.primary {
        height: auto;
        padding: 2.5rem;
        border-radius: 30px;
    }

    .card-services.primary {
        border-radius: 30px
    
    }

    .special-offer-card {
        border-radius: 30px;
    }

    .special-offer-card-text .btn.btn-primary-outline {
        margin-top: 1.5rem;
    }

    .special-offer-card-text {
        margin: 4rem 10rem ;
    }

    .special-offer-card-text p {
        padding: 0;
    }

    .special-offer-card-text .btn.btn-primary-outline {
        border: 2px solid var(--color-blue-dark);
    }

    .container.stages-of-work .stages-of-work-notes {
        text-align: center;
    }

    .container.stages-of-work h5 {
        border: 2px solid var(--color-blue-dark);
    }

    .container.stages-of-work .stages {
        border-radius: 25px;
    }

    .container.reviews .card-review {
        padding: 3rem;
        border-radius: 30px;
    }

    .contact-card {
        border-radius: 30px;
    }

    footer {
        border-radius: 30px;
    }

    footer .main-footer {
        padding: 5rem;
    }
}

@media (max-width: 38rem) {
    /* 608px */
    html {
        font-size: 36%;
    }

    .container {
        width: 100%;
        padding: 0 1rem;
    }

    .nav {
        max-width: 608px;
        width: 100%;
    }

    .about-us.cards {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr
    }
    
    .card-about-us.primary {
        height: auto;
        border-radius: 25px;
        padding: 20px;
    }

    .card-services.primary {
        border-radius: 25px;
    }

    .container.services h4 {
        padding: 0;
    }

    .card-services-notes {
        gap: 1rem;
    }

    .special-offer-card {
        border-radius: 25px;
    }

    .special-offer-card .special-offer-card-text h5 {
        padding: 0;
        font-size: 2.4rem;
    }

    .special-offer-card-text {
        margin: 5rem;
    }

    .special-offer-card-text .btn.btn-primary-outline {
        margin-top: 4rem;
    }

    .special-offer-card-text p {
        padding: 0 3rem;
        font-size: 2.2rem;
    }

    .container.stages-of-work .stages {
        border-radius: 25px;
    }

    .container.stages-of-work h5 {
        width: 100%;
        height: auto;
        padding: 0;
    }
    .container.reviews .card-review {
        padding: 20px;
        border-radius: 25px;
    }
    
    .contact-card {
        border-radius: 25px;
        padding: 2rem;
    }

    footer {
        border-radius: 25px;
    }

    .logo-md {
        width: 25rem;
    }
}

@media (max-width: 28rem) {
    /* 448 */
    html {
        font-size: 34%
    }

    .container {
        width: 100%;
        padding: 0 1rem;
    }

    .nav {
        max-width: 448px; 
        width: 100%;  
    }

    .card-about-us.primary {
        border-radius: 15px;
        padding: 10px;
    }

    .card-services.primary {
        border-radius: 15px;
    }

    .special-offer-card-text .btn.btn-primary-outline {
        margin-top: 2rem;
        border: 2px solid #023047;
    }

    .container.stages-of-work h5 {
        width: 100%;
        height: auto;
        padding: 0;
    }

    .container.stages-of-work .stages {
        width: auto;
        border-radius: 15px;
        padding: 20px;
    }

    #secohdary-stages {
        width: auto;
        padding: 0 12rem;
    }

    .container.reviews .card-review {
        padding: 10px;
        border-radius: 15px;
    }

    .contact-card {
        border-radius: 15px;
    }

    footer {
        border-radius: 15px;
    }

    footer .main-footer {
        padding: 4rem;
    }

    .logo-md {
        width: 19rem;
    }
}

@media (max-width: 22rem) {
    html {
        font-size: 30%;
    }

    .special-offer-card .special-offer-card-text h5 {
        padding: 0;
    }

    .special-offer-card-text .btn.btn-primary-outline {
        margin-top: 1rem;
    }
}
